<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Required</title>
    <link rel="stylesheet" href="../public/stylesheets/submission.css" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
    <script type="text/javascript" src="../views/js/clientSideValidation.js" defer></script>
  </head>
  <body>
    <section class="overlay">
      <h1 id="message"></h1>
      <a href="/">Go back</a>
    </section>
  </body>
</html>